<div class="container">

  <h2 style="display:inline">会員一覧</h2>

  <div class="row">
    <div class="col text-right">
      <span><%= link_to "昇順",users_path(sort: "ascending_order"), class: "btn btn-sm btn-link" %></span>
      <span>|</span>
      <span><%= link_to "降順",users_path(sort: "descending_order"), class: "btn btn-sm btn-link" %></span>
    </div>
  </div>

  <table class='table'>
      <thead class="bg-light text-dark">
        <tr>
          <th>画像</th>
          <th>名前</th>
          <th>紹介</th>
          <th></th>
        </tr>
      </thead>
    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td>
            <%= image_tag u.get_image, size: "50x50" %>
          </td>
          <td><%= u.name %></td>
          <td><%= u.introduction %></td>
          <td><%= link_to "詳細", user_path(u.id), class: "btn btn-sm btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center"><%= paginate @users %></div>
