<div class="container">
  <div class="row d-flex justify-content-center pt-2"><%= link_to "名盤を投稿する", new_master_piece_path, class: "btn btn-outline-primary btn-lg btn-block" %></div>
  <br>
  <h2 style="display:inline">会員情報</h2>
  <br><br>
  <table class='table'>
      <thead class="bg-light text-dark">
        <tr>
          <th>画像</th>
          <th>名前</th>
          <th>紹介</th>
          <th>お気に入り数</th>
          <th></th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td>
          <% if @user.image.attached? %>
            <%= image_tag @user.image, size: "50x50" %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: "50x50" %>
          <% end %>
        </td>
        <td><%= @user.name %></td>
        <td><%= @user.introduction %></td>
        <td><%= link_to @user.like_master_pieces.count,master_piece_likes_path(@user) %></td>
        <% if current_user.id == @user.id %>
        <td><%= link_to "編集", edit_user_path(@user.id), class: "btn btn-sm btn-success" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <br>
  <h2 style="display:inline">投稿名盤一覧</h2>
  <br><br>
  <table class='table'>
      <thead class="bg-light text-dark">
        <tr>
          <th></th>
          <th>アーティスト</th>
          <th>タイトル</th>
          <th>ジャンル</th>
          <th>評価</th>
          <th></th>
        </tr>
      </thead>
    <tbody>
      <% @master_piece.each do |m| %>
        <tr>
          <td>
            <%= image_tag m.get_image, size: "50x50" %>
          </td>
          <td><%= m.artist %></td>
          <td><%= m.title%></td>
          <td><%= m.jenre %></td>
          <td id="rate<%= m.id %>"></span>
              <script>
                $('#rate<%= m.id%>').raty({
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  scoreName: '@master_piece[rate]',
                  half: true,
                  readOnly: true,
                  score: <%= m.rate %>,
                });
              </script>
          </td>
          <td><%= link_to "詳細", master_piece_path(m.id), class: "btn btn-sm btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center"><%= paginate @master_piece %></div>



