<div class="container">
  <br>
  <h2 style="display:inline">名盤編集</h2>
  <br><br>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
     <%= form_with model: @master_piece, url: master_piece_path(@master_piece), method: :patch, local:true do |f| %>
      <div class="form-group">
        <div class="row">
          <label for="artist" class="col-sm-3 col-form-label">アーティスト</label>
          <div class="col-sm-9">
           <%= f.text_field :artist %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="title" class="col-sm-3 col-form-label">タイトル</label>
          <div class="col-sm-9">
            <%= f.text_field :title, size: "40x5" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="genre" class="col-sm-3 col-form-label">ジャンル</label>
          <div class="col-sm-9">
            <%= f.text_field :jenre %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="introduction" class="col-sm-3 col-form-label">説明</label>
          <div class="col-sm-9">
           <%= f.text_area :introduction, size: "40x5" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label for="rate" class="col-sm-3 col-form-label">評価</label>
          <div class="col-sm-9" id="rate_id">
           <%= f.hidden_field :rate %>
          </div>
        </div>
      </div>
      <script>
      $('#rate_id').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'master_piece[rate]',//モデル名[カラム名]
        score: <%= @master_piece.rate %>,
        half: true,
      });
      </script>



      <div class="form-group mx-auto" style="width: 100px;">
        <%= f.submit "更新", class: "btn btn-success" %>
      </div>
     <% end %>
   </div>
  </div>
</div>
