<div class="container">

  <!--エラーメッセージ-->
  <% if @master_piece.errors.any? %>
    <div id="error_explanation">
      <%= @master_piece.errors.count %>件のエラーが発生しました
      <ul>
        <% @master_piece.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <h2 class="exhibition" style="display:inline">名盤投稿</h2>
  <br><br>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
     <%= form_with model: @master_piece, url: master_pieces_path, method: :post, local:true do |f| %>

      <div class="form-group" style="width: 650px;">
        <div class="row">
          <label for="artist" class="col-sm-3 pt-0 col-form-label"><i class="fas fa-users"></i> アーティスト <span style="color: red;">＊<span></label>
          <div class="col-sm-9">
           <%= f.text_field :artist, size: "30x5"%>
          </div>
        </div>
      </div>

      <div class="form-group" style="width: 650px;">
        <div class="row">
          <label for="title" class="col-sm-3 pt-0 col-form-label"><i class="fas fa-compact-disc"></i> タイトル <span style="color: red;">＊<span></label>
          <div class="col-sm-9">
            <%= f.text_field :title, size: "30x5"%>
          </div>
        </div>
      </div>
      <div class="form-group" style="width: 650px;">
        <div class="row">
          <label for="genre" class="col-sm-3 pt-0 col-form-label"><i class="fas fa-music"></i> ジャンル <span style="color: red;">＊<span></label>
          <div class="col-sm-9">
            <%= f.select :jenre, options_for_select([["POP"],["ROCK"],["HIP HOP",],["R & B"],["FUNK / SOUL"],["CLASSICAL"],["REGGAE"],["JAZZ"],["OTHERS"]]) %>
          </div>
        </div>
      </div>
      <div class="form-group" style="width: 650px;">
        <div class="row">
          <label for="introduction" class="col-sm-3 pt-0 col-form-label"><i class="fas fa-comment-alt fa-flip-horizontal"></i> 説明 <span style="color: red;">＊<span></label>
          <div class="col-sm-9">
           <%= f.text_area :introduction, size: "30x5"%>
          </div>
        </div>
      </div>

      <div class="form-group" style="width: 650px;">
        <div class="row">
          <label for="rate" class="col-sm-3 pt-0 col-form-label"><i class="far fa-thumbs-up"></i> 評価 <span style="color: red;">＊<span></label>
          <div class="col-sm-9" id="rate_id">
           <%= f.hidden_field :rate %>
          </div>
        </div>
      </div>
      <script>
      $('#rate_id').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'master_piece[rate]',//モデル名[カラム名]
        half: true,
      });
      </script>

      <div class="form-group mx-auto" style="width: 135px;">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
     <% end %>
   </div>
  </div>
</div>