<h2>名盤紹介</h2>

<div class="container">
  <div class="row">
    <div class="card" style="width: 18rem;">
  <div class="bd-placeholder-img card-img-top">
    <%= image_tag 'record.jpg', size: '50x50' %>
  </div>

  <div class="card-body">
    <p>投稿者：<%= @master_piece.user.name %></p>
    <p>投稿日時：<%= @master_piece.created_at.strftime('%Y/%m/%d %H:%M') %></p>
    <p>アーティスト：<%= @master_piece.artist %></p>
    <p>タイトル：<%= @master_piece.title%></p>
    <p>ジャンル：<%= @master_piece.jenre %></p>
    <p>説明：<%= @master_piece.introduction %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
              <span id="rate<%= @master_piece.id %>"></span>
              <script>
                $('#rate<%= @master_piece.id%>').raty({
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  scoreName: '@master_piece[rate]',
                  half: true,
                  readOnly: true,
                  score: <%= @master_piece.rate %>,
                });
              </script>
    </li>
    <li class="list-group-item">


<%= render 'likes/like', master_piece: @master_piece %>



    </li>
  </ul>
  <div class="card-body">
    <% if current_user.id == @master_piece.user_id %>
      <span><%= link_to '編集', edit_master_piece_path(@master_piece), class: "btn btn-sm btn-success" %></span>
      <span><%= link_to '消去', @master_piece, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></span>
    <% end %>
  </div>

  <div class="card-body">
    <p>コメント件数：<%= @master_piece.master_piece_comments.count %></p>
    <% @master_piece.master_piece_comments.each do |mpc| %>
      <p class="mt-3"><%= image_tag mpc.user.get_image, size: "50x50" %></p>
      <p>コメントユーザー：<%= mpc.user.name %></p>
      <p>コメント日時：<%= mpc.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      <p>コメント：<%= mpc.comment %></p>
      <% if mpc.user == current_user %>
      <%= link_to '消去', master_piece_master_piece_comment_path(mpc.master_piece,mpc), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
    <% end %>
    <% end %>
  </div>

  <div class ="card-body">
    <%= form_with model: [@master_piece, @master_piece_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>

</div>
  </div>
</div>