<h2 class="exhibition">名盤紹介</h2>

<div class="container">
  <div class="row">
    <div class="card mx-auto" style="width: 30rem;">
  <div class="bd-placeholder-img card-img-top text-center">
    <%= image_tag 'record.jpg', size: '478x478'%>
  </div>

  <div class="card-body">
    <p><i class="fas fa-user"></i> 投稿者：<%= @master_piece.user.name %></p>
    <p><i class="fas fa-clock"></i> 投稿日時：<%= @master_piece.created_at.strftime('%Y/%m/%d %H:%M') %></p>
    <p><i class="fas fa-users"></i> アーティスト：<%= @master_piece.artist %></p>
    <p><i class="fas fa-compact-disc"></i> タイトル：<%= @master_piece.title%></p>
    <p><i class="fas fa-music"></i> ジャンル：<%= @master_piece.jenre %></p>
    <p><i class="fas fa-comment-alt fa-flip-horizontal"></i> 説明：<%= @master_piece.introduction %></p>
    <p><i class="fas fa-eye" style="color: green;"></i> 閲覧数：<%= @master_piece.impressionist_count(:filter => :session_hash) %></p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <i class="far fa-thumbs-up"></i> <span id="rate<%= @master_piece.id %>">評価：</span>
      <script>
        $('#rate<%= @master_piece.id%>').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: '@master_piece[rate]',
          half: true,
          readOnly: true,
          score: <%= @master_piece.rate %>,
        });
      </script>
    </li>

    <li class="list-group-item" style="height: 62px;">
      <span class="like"><%= render 'likes/like', master_piece: @master_piece %></span>
    </li>
  </ul>

  <div class="card-body">
    <% if current_user.id == @master_piece.user_id %>
      <span><%= link_to '編集', edit_master_piece_path(@master_piece), class: "btn btn-sm btn-success" %></span>
      <span><%= link_to '消去', @master_piece, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></span>
    <% end %>
  </div>

  <div class="card-body">
    <div class="comment-index">
      <%= render 'master_piece_comments/index', master_piece: @master_piece %>
    </div>
  </div>

  <div class ="card-body">
    <div class="comment">
      <%= render 'master_piece_comments/comments_form', master_piece: @master_piece,master_piece_comment: @master_piece_comment %>
    </div>
  </div>

</div>
  </div>
</div>