<h3><%= @range %> search for "<%= @word %>"</h3>

<table class='table'>
  <% if @range == "User" %>
    <thead class="bg-light text-dark">
      <tr>
        <th>画像</th>
        <th>名前</th>
        <th>紹介</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
      <tr>
        <td>
          <%= image_tag u.get_image, size: "50x50" %>
        </td>
        <td><%= u.name %></td>
        <td><%= u.introduction %></td>
        <td><%= link_to "詳細", user_path(u.id), class: "btn btn-sm btn-success" %></td>
      </tr>
  <% end %>
    </tbody>
  <% else %>
    <thead class="bg-light text-dark">
      <tr>
        <th>名盤画像</th>
        <th>アーティスト</th>
        <th>タイトル</th>
        <th>ジャンル</th>
        <th>評価</th>
        <th></th>
      </tr>
    </thead>
      <tbody>
      <% @master_pieces.each do |m| %>
        <tr>
          <td><%= image_tag m.get_image, size: "50x50" %></td>
          <td><%= m.artist %></td>
          <td><%= m.title %></td>
          <td><%= m.jenre %></td>
          <td id="rate<%= m.id %>">
            <script>
              $('#rate<%= m.id%>').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: '@master_piece[rate]',
                half: true,
                readOnly: true,
                score: <%= m.rate %>,
              });
            </script>
          </td>
          <td><%= link_to "詳細", master_piece_path(m.id), class: "btn btn-sm btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<% if @range == "User" %>
  <div class="d-flex justify-content-center"><%= paginate @users %></div>
<% else %>
  <div class="d-flex justify-content-center"><%= paginate @master_pieces %></div>
<% end %>
